<form asp-action="Search" asp-controller="HangHoaController1" class="d-flex">
    <div class="input-group w-100 mx-auto d-flex">

        <input name="searchQuery" type="search" class="form-control p-3" placeholder="Enter Keywords" aria-describedby="search-icon-1">

        <button>
            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>


        </button>

    </div>
</form>